form{

    background-color:darkolivegreen;
    width: 50%;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 10px 4px 4px black;
    border-radius: 10px;
}


legend{
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
    color: white;
    text-shadow: 4px 4px 12px burlywood;
}

input[type=text],input[type=email],input[type=password],input[type=number],input[type=date],input[type=file],select,textarea{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px burlywood;
    padding-left: 10px;
}

button{
    background-color: rgba(255, 255, 255, 0.1);
    width: 150px;
    height: 40px;
    border-radius: 10px;
}

